{% extends "main/base.html" %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<ul class="nav nav-pills">
<li class="nav-item">
<a class="nav-link active" href="#">Active</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Link</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="#">Disabled</a>
</li>
</ul>

<div class="col-md-12">
    <div class="row" style="border: 1px solid black">
        <div class="col-md-12">{{plot|safe}}</div>
    </div>
</div>


{% endblock %}

{% block extra-js %}
<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
{% endblock %}

