{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
<form class="form" method="post" action="">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% bootstrap_form signal_form %}
  <div style="clear: both;"></div>
  <br>
  <div class="pull-right">
    <button type="button" class="btn btn-default" onclick="{% if previous %}window.location.replace('{{ previous }}');{% else %}history.go(-1);{% endif %}">Cancel</button>
    <button type="submit" class="btn btn-primary" id="bt_update">Update</button>
  </div>
</form>
{% endblock %}