{% extends "base.html" %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}- {{diagnosis.signal.name}}{% endblock %}


{% block content %}

<!-- /.container -->

<div class="col-md-12">
  <div class="row" style="border: 1px solid black">
    <div class="col-md-12">{{plot|safe}}</div>
  </div>
</div>
<div class="col-md-12">
  {{result}}
  <br>
  <b># Ciclos cardiacos: </b> {{cycles_num}}
  <br>
  <b>Ritmo cardiaco promedio: </b> {{rateBPM}}
  <br>
  <b>Limite R-R superior: </b> {{up_rr_mean}}
  <br>
  <b>Limite R-R inferior: </b> {{down_rr_mean}}
  <br>
  <br>
  {% for cycle in cycles%}
    {{cycle}} segundos
    <br>
  {% endfor %}
</div>

<!-- /.container -->

{% endblock %}
