{% extends "base.html" %}
{% load bootstrap3 %}
{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}


{% block content %}

<!-- /.container -->

<div class="col-md-12">
  <div class="row" style="border: 1px solid black">
    <div class="col-md-12">{{plot|safe}}</div>
  </div>
</div>
<div class="col-md-12">
  {{result}}
  <br>
  <b> # Ciclos cardiacos: </b> {{cycles_num}}
  <br>
  <b> Ritmo cardiaco promedio: </b> {{rateBPM}}
  <br>
  <br>
  <b> Intervalos con Eventos ({{eventos_num}}):  </b>
  <br>
  {% for tiempo_plot in tiempos_plots%}
    {{tiempo_plot}}
    <br>
  {% endfor %}
  <br>
</div>

{% for event_plot in event_plots %}
<div class="col-md-12">
  <div class="row" style="border: 1px solid black">
    <div class="col-md-12">{{event_plot|safe}}</div>
  </div>
</div>
<br>
<br>
<br>
{% endfor%}
<!-- /.container -->

{% endblock %}