{% extends "main/base.html" %}
{% load static %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
<div class="main-select-images">
  <div class="row">
    <div class="col-sm col-md body-main-image">
        <div class="card">
            <a href="{% url 'url_tutorial_manual' %}" class="tutorial-card">
                <span class="oi oi-info big-icon"></span>
                <span class="body-image-title">¿Cómo usar la web?</span>
            </a>
        </div>
    </div>
    <div class="col-sm col-md body-main-image">
        <div class="card">
            <a href="{% url 'url_patients_list' %}" class="tutorial-card">
                <span class="oi oi-puzzle-piece big-icon"></span>
                <span class="body-image-title">Lógica de procesamiento</span>
            </a>
        </div>
    </div>
  </div>
</div>


{% endblock %}