{% extends "main/base.html" %}
{% load static %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
<div class="main-select-images">
    <div class="row">
      <div class="col-sm col-md body-main-image">
          <a href="{% url 'url_doctors_list' %}" class="thumbnail">
             <span class="oi oi-info" width="500" height="500" viewBox="0 0 128 128">

             </span>
              <span class="body-image-title">Doctores</span>
          </a>
      </div>
      <div class="col-sm col-md body-main-image">
          <a href="{% url 'url_patients_list' %}" class="thumbnail">
              <img width="225" height="225" src="{% static 'images/patient.png' %}" alt="125x125">
              <span class="body-image-title">Pacientes</span>
          </a>
      </div>
    </div>
  </div>
{% endblock %}