{% extends "base.html" %}
{# load bootstrap3 #}
{% block content-title %}User{% endblock %}
{% block content-suptitle %}Authetication{% endblock %}

{% block content %}
<div class='col-md-8'>
  <form class="form" method="post" action="{% url 'url_login' %}">
  {% csrf_token %}
  {# bootstrap_form form #}
  <input type="hidden" name="next" value="{{ next }}" />
  {# buttons #}
    <button type="submit" class="btn btn-primary">Login</button>
  {# endbuttons #}
  </form>
</div>
{% endblock %}

{% block messages%}
{% endblock %}

{% block sidebar%}
{% endblock %}