<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>{% block title %}Holter Monitor{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"-->
    <link href="{% static 'css/bootstrap.css' %}" media="all" rel="stylesheet">

    <style type="text/css">
      body
      .logo {padding-top: 5px; height: 50px}
      .clickable-row {cursor: pointer;}
      .col-no-padding { padding-left:0;}
      .gi-2x{font-size: 2em;}
      .gi-3x{font-size: 3em;}
      .gi-4x{font-size: 4em;}
      .gi-5x{font-size: 5em;}
    </style>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block extra-head %}
    {% endblock %}
  
  </head>
  
  <body>

{% block main_menu %}
  <nav class="navbar navbar-expand-lg bg-light">
    
    
    <div class="navbar-header">

      <a class="navbar-brand" href="{% url 'index' %}" style="padding-top:1px"><img class="logo" alt="JRO" src="{% static "images/heart-beat.jpg" %}"></a>
   

      <!--a class="navbar-brand">Holter Monitor</a-->
     

    </div>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav navbar-nav">
      <!--ul class="navbar-nav"-->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'url_home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="#">Bluetooth</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'url_doctors_list' %}">Doctores</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="{% url 'url_patients_list' %}">Pacientes</a>
       </li>

       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown link
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="nav-divider"></li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ user.username }}<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                <li><a href="/admin">Control Panel</a></li>
                <li><a href="{% url 'url_logout' %}">Logout</a></li>
             </ul>
          </li>
          {% else %}
          <li><a href="{% url 'url_login' %}?next={{request.get_full_path}}">Login</a></li>
          {% endif %}
        </ul>
    </div>

  </nav>

<div style="clear: both;"></div>
{% endblock %}




<div class="container">
  <div id="page" class="row" style="min-height:600px">

    {% if no_sidebar %}
    <div class="col-md-0 hidden-xs hidden-sm" role="complementary"></div>

    {% else %}
     <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
       <br><br>
  	       <div id="sidebar">
  	       {% block sidebar%}
               {# include "sidebar_devices.html" #}
          {% endblock %}
  	       </div>
  	   </div>
    {% endif %}


    {% if no_sidebar %}
	   <div class="col-md-12 col-xs-12" role="main">
    {% else %}
     <div class="col-md-9 col-xs-12" role="main">
    {% endif %}
	   <div class="page-header">
        <h1>{% block content-title %}{% endblock %} <small>{% block content-suptitle %}{% endblock %}</small></h1>
       </div>
       {% block messages %}
	       {% if messages %}
	         {% for message in messages %}
	         <div class="alert alert-{% if message.tags %}{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}{% else %}info{% endif %} alert-dismissible" role="alert">
	           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	           <strong>{{message.tags|title}}!</strong> {{ message }}
	         </div>
	         {% endfor %}
	       {% endif %}
       {% endblock %}

	   {% block content %}
	   {% endblock %}

	   </div>


	</div><!--/row-->
</div> <!-- container -->




<div id="debug">{{debug}}</div>

{% block footer %}
<footer class="footer">
  <div class="container">
  <p><hr></p>
  <p>
  &copy; <a href="http://www.upc.edu.pe">Universidad Peruana de Ciencias Aplicadas</a> - {% now "Y" %}
  </p>
  </div>
</footer>
{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
  
{% block extra-js %}
{% endblock%}
  </body>
</html>
