{% extends "person/patient_show.html" %}
{% load bootstrap %}

{% block subcontent %}
  {% if form.is_multipart %}
    <form class="form" enctype="multipart/form-data" method="post" action="{{action}}">
  {% else %}
    <form class="form" method="post" action="{{action}}">
  {% endif %}
  {% csrf_token %}
  {{ form|bootstrap_horizontal:'col-md-4' }}
        <div style="clear: both;"></div>
            <br>
  {% if extra_button %}
        <div class="pull-left">
            <button type="button" class="btn btn-primary" id="bt_{{extra_button}}">{{extra_button}}</button>  
        </div>
  {% endif %}
  {% if button %}
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="{% if previous %}window.location.replace('{{ previous }}');{% else %}history.go(-1);{% endif %}">{% if cancel %}{{cancel}}{% else %}Cancel{% endif %}</button>
            <button type="submit" class="btn btn-primary">{{button}}</button>
        </div>
  {% endif %}
    </form>
{% endblock %}