.main-select-images {
  text-align: center;
}

.body-main-image {
  padding-top: 25px;
}

.body-image-title {
  font-size: 2rem;
}

a.tutorial-card {
  text-decoration: none;
  padding: 20px;
  background: ghostwhite;
  border-radius: 2px;
}

.profile-userpic img {
  width: 100%;
}

.big-icon {
  display: block;
  font-size: 10rem;
  padding-bottom: 40px;
}

@media (max-width: 990px) {
  .profile-userpic {
    text-align: center;
  }
  .profile-userpic img {
    width: 50%;
  }
}